/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #0c0a09;
  --color-surface: #1c1917;
  --color-primary: #ea580c;
  --font-sans: "Manrope", sans-serif;
  --font-header: "Anton", sans-serif;
}

/* FORCE RESET */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  /* Dark background */
  color: #f5f5f4;
}